@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

:root {
  /* ----- COLOR ----- */
  /* SOLID */
  --body-black: #111116;
  --body-black-rgb: 30, 30, 30;
  --card-black: #0e0e12;
  --card-black-rgb: 14, 14, 18;
  --footer-black: #0e0e11;
  --footer-black-black: 14, 14, 17;
  --white: #fff;
  --white-rgb: rgb(255, 255, 255);
  --pink: #bb0e8b;
  --gray: #25252c;
  --purple: #5346f3;

  /* GRADIENT */
  --text-gradient: linear-gradient(90deg, #bb0e8b 1.52%, #8e0ebb 93.4%);
  --background-gradient: linear-gradient(180deg, #690d53 0%, #1616b7 100%);

  /* ----- BORDER RADIUS ----- */
  --border-radius-sm: 8px; /* rounded-lg */
  --border-radius-lg: 31px;

  /* ----- TYPOGRAPHY ----- */
  --font-family: "Inter";

  /* text-6xl */
  --heading-1-font-size: 3.75rem; /* 60px */
  --heading-1-line-height: 1rem; /* 16px */

  /* text-5xl */
  --section-title-font-size: 3rem; /* 48px */
  --section-title-line-height: 1rem; /* 16px */
  --section-title-font-weight: 700;

  /* text-3xl */
  --section-subtitle-font-size: 1.875rem; /* 30px */
  --section-subtitle-line-height: 2.25rem; /* 36px */

  /* text-2xl */
  --mute-text-font-size: 1.5rem; /* 24px */
  --mute-text-line-height: 2rem; /* 32px */
  --mute-text-color: #424255;
  --mute-text-color-rgb: rgb(66, 66, 85);

  /* text-base */
  --text-base-font-size: 1rem; /* 16px */
  --text-base-line-height: 1.5rem; /* 24px */

  /* ----- SHADOW ----- */
  --box-shadow-md: 0px 36px 11px -14px rgba(0, 0, 0, 0.25);
  --box-shadow-lg: 42px 75px 42px -42px rgba(0, 0, 0, 0.58);

  /* ----- SWIPER ----- */
  --img-width-sm: 20rem;
  --img-height-sm: 20rem;
  --img-width-md: 36rem; /*min-width:768px*/
  --img-height-md: 41rem;
  --img-width-lg: 45rem; /*min-width: 1024px*/
  --img-height-lg: 50rem;
  --img-width-2xl: 56rem; /* min-width: 1536px */ /* lg: 1280px */
  --img-height-2xl: 61rem;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--text-base-font-size);
  color: var(--white);
  background-color: var(--body-black);
}

.swiper {
  margin-top: -5rem;
}

.swiper-slide {
  width: var(--img-width-sm);
  height: var(--img-height-sm);
  position: relative;
}
@media (min-width: 768px) {
  .swiper-slide {
    width: var(--img-width-md);
    height: var(--img-width-md);
  }
}

@media (min-width: 1024px) {
  .swiper-slide {
    width: var(--img-width-lg);
    height: var(--img-width-lg);
  }
}

@media (min-width: 1536px) {
  .swiper-slide {
    width: var(--img-width-2xl);
    height: var(--img-width-2xl);
  }
}

.swiper-slide-prev {
  transform: translate(100px, -100px) !important;
}

.swiper-slide-next {
  transform: translate(-100px, -100px) !important;
}

.swiper-slide img {
  width: var(--img-width-sm);
  height: var(--img-height-sm);
  border-radius: 2rem;
  object-fit: contain;
}
@media (min-width: 768px) {
  .swiper-slide img {
    width: var(--img-width-md);
    height: var(--img-width-md);
  }
}

@media (min-width: 1024px) {
  .swiper-slide img {
    width: var(--img-width-lg);
    height: var(--img-width-lg);
  }
}

@media (min-width: 1536px) {
  .swiper-slide img {
    width: var(--img-width-2xl);
    height: var(--img-width-2xl);
  }
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  display: none;
}
@media (min-width: 768px) {
  .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1rem !important;
  }
}

@media (min-width: 1280px) {
  .slider-controler {
    margin-top: -3rem;
  }
}

.slider-controler .slider-arrow {
  background: #272735;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  left: 35% !important;
  transform: translateX(-35%) !important;
}
@media (min-width: 1024px) {
  .slider-controler .slider-arrow {
    left: 41% !important;
    transform: translateX(-41%) !important;
  }
}

@media (min-width: 1280px) {
  .slider-controler .slider-arrow {
    left: 41% !important;
    transform: translateX(-41%) !important;
  }
}

.slider-controler .swiper-button-prev {
  order: 0;
}

.slider-controler .swiper-button-next {
  left: 66% !important;
  transform: translateX(-66%) !important;
  order: 2;
}
@media (min-width: 1024px) {
  .slider-controler .swiper-button-next {
    left: 60% !important;
    transform: translateX(-60%) !important;
  }
}

@media (min-width: 1280px) {
  .slider-controler .swiper-button-next {
    left: 61% !important;
    transform: translateX(-61px) !important;
  }
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: "";
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto !important;
  position: relative;
  bottom: -0.3rem !important;
  order: 1;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: var(--purple);
  opacity: 1 !important;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--pink);
  width: 20px;
  height: 20px;
}
